* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #f7f7ee;
    font-family: Arial, sans-serif;
    color: #24372d;
  }
  
  main {
    width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }

  .navi{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 25px;

  }

  .elsoheaderresz{
    border: 1px solid black;

  }

  .masodikheaderresz{
    border: 1px solid black;
  }

  article {
    width: 560px;
    background-color: white;
    border: 1px solid #5eff19;
    border-radius: 15px;
    padding: 17px;
  }
  article {
    width: 70%;
    padding: 17px;
    background-color: white;
    border: 1px solid limegreen;
    border-radius: 15px;
  }
  
  aside {
    width: 180px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 15px;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-color: darkblue;
    color: white;
    border-radius: 18px;
  }